.main{
    height: 80vh;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    margin: 0;
    position: relative;
}

.main__title{
    font-size: 100%;
    max-width: 95vw;
    text-wrap: nowrap;
    cursor: pointer;
    word-wrap: break-word;
    margin: 0;
    /*
    animation: scaler 1s cubic-bezier(1, -0.08, 0, 1.01);
    transition: scale 0.3s cubic-bezier(1, -0.08, 0, 1.01);
    */
}

.close-color{
    color: rgb(255, 0,0);
}

