.picker{
    border-top: solid 5px;
    height: 100vh;
}

.slide_in{
    animation: slideIn 1s cubic-bezier( 0.23, 0.01, 0, 1 ) forwards;
}

@keyframes slideIn {
    from{
        transform: translateX(-100vw);
    }
    to{
        transform: translateX(0);
    }
}