.navigation{
    display: flex;
    align-items: center;
}

.navigation__list{
    display:flex;
    flex-direction: row;
    list-style: none;
    gap: 16px;
    padding: 0;
    margin: 0;
}

.navigation__item{
    cursor: pointer;
    transition: transform  0.2s ease-in-out;
    transition: border-bottom  0.2s ease-in-out;
}

.navigation__item:active{
    animation: clicked 0.2s ease-in-out;
}

.navigation__item:hover{
    transform: translateY(-2px);
}

.navigation__item::after {
    content: "";
    position: absolute;
    bottom: -8px;
    left: 50%;
    width: 0;
    height: 1px; 
    background-color: white;
    transition: width 0.4s ease, left 0.3s ease;
  }
  
  .navigation__item:hover::after {
    width: 100%;
    left: 0;
  }

@keyframes clicked {
    0% {
        transform:translateY(0);
        color:white;
    }
    50%{
        transform:translateY(-2px);
    }
    75%{
        transform:translateY(2px);
        color: lightcyan;
    }
    100%{
        transform:translateY(0px);
        color: white;
    }
}